html {
    cursor: url("https://i.imgur.com/8Jhi9oS.png"), auto;
}

a {
    cursor: url("https://i.imgur.com/8Jhi9oS.png"), auto;
}

@font-face {
    font-family: "GothamBold";
    src: url("delagothic.ttf");
}

body
{
    margin: 0 auto;
    font-size: 85px;
    font-weight: bold;
    color: white;
    font-family: "GothamBold";
}

a:link { text-decoration: none; color: white} 
a:visited {color: white} 
a:hover { color:white;} 
a:active {color:white} 

.introduction
{
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
    text-align: center;
    padding-top: 10vh;
}
.Clickable
{
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
    padding-bottom: 20vh;
    font-size: 30px;
}

.Clickable
{
    text-align: center;
}

.Clouds
{
    position: absolute;
    margin: 0;
    max-width: 100%;
    overflow: hidden;
}

#Cloud1
{
    margin: 0 auto;
    width: 100vw;
    scale: 170%;
}



.Sky
{
    margin: 0;
    margin-top: 10vw;
    max-width: 100%;
    overflow-x: hidden;
}

#Sky
{
    margin: 0 auto;
    width: 100vw;
}



#building
{
    left:25vw;
    position: absolute;
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.Grass
{
    margin: 0 auto;
    margin-top: 30vw;
    overflow-x: hidden;
}

#Grass
{
    width: 100vw;
}

.student
{
    margin-top: -65vw;
    padding-left: 10vw;
    padding-right: 10vw;
}
#underclouds
{
    text-align: center;
}

.now
{
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: purple;
    margin-top: -75vw;
}

#interactivemedia
{
    text-align: center;
}

.Camelmovie
{
    margin-top: 1vw;
}

#Camelmovie
{
    scale: 250%;
}

#Camelsound
{
    scale: 250%;
}

#Camelcomic
{
    scale: 250%;
}

#Camel30
{
    scale: 250%;
}



ul {
    text-align: center;
    padding: 0;
    margin: 50px 20px;
    list-style: none;
}
ul li {
    margin: 5px;
    display: inline-block;
}
ul li a {
    padding: 4.8vw;
    display: inline-block;      
}
ul li a img {
    width: 125px;
    height: 125px;
    display: block;
}
ul li a:hover img {
    transform: scale(1.5);
}

.select
{
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
    text-align: center;
    font-size: 30px;
}
.Orange
{
    margin-top: 500px;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    overflow-x: hidden;
}

.Brown
{
    margin-top: -200px;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    margin-right:0;
    margin-left: 0;
    overflow-x: hidden;
}

.Gray
{
    margin-top: -200px;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    margin-right:0;
    padding-right: 40vw;
    overflow-x: hidden;
}

.Gray2
{
    margin-top: -400px;
    margin-right:0;
    align-items: center;
    justify-content: center;
    max-width: 100%; /* Ensure images don't exceed their container */
    height: auto;
    overflow-x: hidden;
    
}
#Graydark
{
}

#beginning
{
    text-align: center;
    margin-top: -500px;
}

