html {
    cursor: url("https://i.imgur.com/8Jhi9oS.png"), auto;
}

a {
    cursor: url("https://i.imgur.com/8Jhi9oS.png"), auto;
}

@font-face {
    font-family: "GothamBold";
    src: url("delagothic.ttf");
}


body
{
    margin: 0 auto;
    font-size: 85px;
    font-weight: bold;
    color: white;
    font-family: "GothamBold";
}

video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content
{
    position: relative;
    z-index: 1;
}

a:link { text-decoration: none; color: white} 
a:visited {color: white} 
a:hover { color:white;} 
a:active {color:white} 

.introduction
{
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
    text-align: center;
    padding-top: 10vh;
}
.Clickable
{
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
    padding-bottom: 20vh;
    font-size: 30px;
}

.Clickable
{
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
    text-align: center;
}

.Clouds
{
    position: absolute;
    margin: 0;
    max-width: 100%;
    overflow: hidden;
}

#Cloud1
{
    margin: 0 auto;
    width: 100vw;
    scale: 170%;
}



.Sky
{
    margin: 0;
    margin-top: 10vw;
    max-width: 100%;
    overflow-x: hidden;
}

#Sky
{
    margin: 0 auto;
    width: 100vw;
}



#building
{
    left:25vw;
    position: absolute;
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.Grass
{
    margin: 0 auto;
    margin-top: 30vw;
    overflow-x: hidden;
}

#Grass
{
    width: 100vw;
}

.student
{
    margin-top: -65vw;
    padding-left: 10vw;
    padding-right: 10vw;
}
#underclouds
{
    text-align: center;
}

.now
{
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: purple;
    margin-top: -75vw;
}

#interactivemedia
{
    text-align: center;
}

.Camelmovie
{
    margin-top: 1vw;
}

#Camelmovie
{
    scale: 250%;
}

#Camelsound
{
    scale: 250%;
}

#Camelcomic
{
    scale: 250%;
}

#Camel30
{
    scale: 250%;
}



ul {
    text-align: center;
    padding: 0;
    margin: 50px 20px;
    list-style: none;
}
ul li {
    margin: 5px;
    display: inline-block;
}
ul li a {
    padding: 4.8vw;
    display: inline-block;      
}
ul li a img {
    width: 125px;
    height: 125px;
    display: block;
    transition: 0.3s all ease;
    overflow-x: hidden;
}
ul li a:hover img {
    transform: scale(1.5);
}

.select
{
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
    text-align: center;
    font-size: 30px;
    margin-bottom: 5vw;
}

.Brown
{
    max-width: 100%;
    overflow-x: hidden;
}
.Sportstext
{
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
    text-align: center;
    margin-top: -76vw;
}
.Sports
{
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
    display:grid;
    grid-template-columns: 1fr 1fr;
    padding: 7vw;
    font-size: 40px;
}

.Gym
{
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
    display:grid;
    grid-template-columns: 1fr 1fr;
    margin-top: -5vw;
    font-size: 40px;
    margin-bottom: 5vw;
}
#Gym
{
    margin-left: 9vw;
    scale:50%;
    padding-bottom: -5vw;
}

#weightlifting
{
    margin-top: 13vw;
    padding-right: 7vw;
}

#Basketball
{
    margin-left: 10vw;
    scale:130%;
}

.hover-sound:hover + #hover-sound {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    overflow: hidden;
  }

  .hover-sound1:hover + #hover-sound1 {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    overflow: hidden;
  }

  .Cave
  {
    display: inline-block;
    margin-top: 46.2vw;
      max-width: 100%;
      overflow: hidden;
      margin-bottom: -4vw;
  }

  .Fire
  {
    margin-top: 30vw;
    text-align: center;
    margin-bottom: -4vw;
  }

  .Bunseen
  {
    visibility: hidden;
    text-align: center;
    margin-top: -35vw;
    transform: scale(0.5);
    opacity:0;
    transition: opacity 2s ease-in-out, visibility 0.3s ease-in-out;
  }

  .Bunseen.visible {
    opacity: 1;
    visibility: visible;
  }

  #born
  {
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
    font-size: 40px;
  }
  .Flag
  {
    visibility: hidden;
    padding-top: 4vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5vw;
    transform: scale(0.7);
    margin-top: -63vw;
    text-align: right;
    opacity: 0;
    transition: opacity 2s ease-in-out, visibility 0.3s ease-in-out;
  }

  .Flag.visible 
  {
    opacity:1;
    visibility:visible;
  }

  .Rocks
  {
    margin: 0 auto;
    margin-left: -5vw;
    margin-top: -75vw;
    overflow-x: hidden;
  }

  .Stones
  {
    margin: 0 auto;
    margin-left: -5vw;
    margin-top: -70vw;
    overflow-x: hidden;

  }
  
